.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 60px;
}
.cart-container .review-btn {
  background-color: rgb(106, 190, 255);
  margin-left: 5px;
}
